
h1{
	color: rgb(170, 122, 232);
	text-decoration: underline;
}
.box{
	padding: 10px;
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin: 50px;
	color: white;
	font-weight: bold;
	float: left;
	position: relative;
}
.box img{
	position: relative;
	bottom: 90px;
	left: 50px;
}
#redbox{
	background-color: #FF0000;
}
#orgbox{
	background-color: #FF530D;	
}
#yelbox{
	background-color: #FFEF42;	
}
#grebox{
	background-color: #00FF00;
	clear:left;	
}
#blubox{
	background-color: #0000FF;	
}
#purbox{
	background-color: #AA26E8;
}
.ribbon{
	position: absolute;
	top: 30px;
	right: 30px;
}

