h1{
	color: #B3DEE8;
	text-align: center;
	font-size: 50px;
	font-family: 'Shadows Into Light', cursive;
}

.box{
	padding: 1px 5px 25px 2px;
	border: 30px 30px solid black;
	height: 10px;
	text-align: center;
	color: #4A575C;
	font-weight: bold;
	background-color: white;
	background-image: url(/img/tileable_wood_texture.png);
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
	font-size: 22px;
}
.box:hover{
	color: rgb(79, 12,11);
	background-image: url(/img/tileable_wood_texture.png);
}

#Subox{
	width:150px;
	margin: 10px 600px 30px;
	
}	
#Meas{
	width: 75px;
	margin: 10px 350px 30px;
	
}
#Not{
	width: 100px;
	margin: 10px 700px;
	
}
#By{
	width: 120px;
	margin: 20px 800px;
	
}
#That{
	width: 50px;
	margin: 10px 550px;
	
}
#One{
	width: 150px;
	margin: 10px 325px;
	
}
#In{
	width: 75px;
	margin: 1px 600px;
	
}
#As{
	width: 175px;
	margin: 10px 750px;
	
}
#Which{
	width: 50px;
	margin: 10px 300px;
	
}
#He{
	width: 150px;
	margin: 10px 525px;
	
}

body{
	background-image: url(/img/dark_wood.png);
}
