h1{
	text-align: center;
	font-size: 60px;
}

h2{
	color: rgb(92, 156, 178);
	text-decoration: underline;	
}

body{
	background-image: url(/img/dark_wood.png);
	background-color: rgba(255, 253, 144);
	color: rgb(255, 253, 144);
	font-size: 20px;
	font-family: 'Cinzel', serif;
	
}	
h1{
	color: rgb(92, 156, 178);
}
ol{
	list-style: upper-roman;

}

table, tr, th, td {
	color: rgb(184, 119, 123);
	border: 3px solid rgb(184,119,123);
	border-collapse: collapse;
	padding: 8px;

}	
a:link{
	color: rgb(188,154,205)
}
a:hover{
	color: rgb(158, 243, 153);
}
a:visited{
	color: rgb(180, 244, 243);
}
i{
	padding: 1px 10px;
	color: rgb(184, 119, 123);
}

